body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #0091A0;
    font-family: Helvetica, sans-serif;
}

#header {
    background-color: antiquewhite;
    height: auto;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 100px;
}

#header h2 {
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.container {

    margin-top: 160px;
    width: 40vw;
    min-width: 400px;
    max-height: 800px;
    max-width: 550px;

    background-color: whitesmoke;
    padding: 50px;
    text-align: center;

    border-radius: 1%;
}

h1 {
    padding-bottom: 10px;
    margin: 0px;
    font-weight: bold;
}

p {
    text-align: justify;
}

form {
    max-width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.form-group-dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width:
        margin-bottom: 10px;
}

label {
    width: 22%;
    min-width: 100px;
    padding: 5px;
    box-sizing: border-box;
    text-align: left;
    margin-right: 10px;
}

input,
select {
    width: 78%;
    padding: 10px;
    box-sizing: border-box;
}

.linkedin-button {
    background-color: #0077B5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0px 5px 0px 5px;
}

.linkedin-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.linkedin-logo {
    width: 20px;
    height: 20px;
    fill: white;
}

.btn-instagram {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0px 5px 0px 5px;

    text-decoration: none;
    transition: all 0.2s ease-in-out;
    background-image: radial-gradient(circle farthest-corner at 28% 100%,
            #fcdf8f 0%,
            #fbd377 10%,
            #fa8e37 22%,
            #f73344 35%,
            transparent 65%), linear-gradient(145deg, #3051f1 10%, #c92bb7 70%);

}

.btn-instagram:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-instagram-icon {
    width: 24px;
    height: 24px;
    fill: white;
}

.youtube {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0px 5px 0px 5px;
    background-color: #FF0000;
}

.youtube:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.social-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
