<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>aeroalpina</title>
        <link rel="stylesheet" type="text/css" href="navbar.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
      </head>
    <body>        
        <nav>
            <div class="logo">
                <a href="/proper/index.html"><img src="logo.svg" alt="Logo"></a>
            </div>
            <div class="container">
                <ul class="navlinks-contact">
                    <li><a href="#invest">Investors</a></li>
                    <li><span class="separator"> // </span></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                <ul class="navlinks">
                    <li>
                        <a class="dropdown" href="#solutions">Solutions</a>
                        <div class="dropdown-content">
                            <a class="dropdown-fields" href="#">Search and Rescue</a>
                            <a class="dropdown-fields" href="#">Law Enforcement</a>
                            <a class="dropdown-fields" href="#">Conservation</a>
                        </div>
                    </li>
                    <li><span class="separator"> // </span></li>
                    <li>
                    <a class="dropdown"  href="#research">Research</a>
                        <div class="dropdown-content" style="margin-right: -210px; !important">
                            <a class="dropdown-fields" href="#">Flight Optimisation</a>
                            <a class="dropdown-fields" href="#">Solar-Cell Integration</a>
                            <a class="dropdown-fields" href="#">Hydrogen Fuel-Cell Integration</a>
                        </div>
                    </li>    
                    <li><span class="separator"> // </span></li>
                    <li><a href="#about">About</a></li>
                    <li><span class="separator"> // </span></li>
                    <li><a href="#blog">Blog</a></li>
                </ul>
            </div>
        </nav>
    </body>
</html>