section {
    height: 100vh;
    font-family: Helvetica, sans-serif;
    color: steelblue;
    
    top: 50%;
    width: 100%;
    text-align: center;
}

#titlepage {
background-color: steelblue;
color:aliceblue;
text-align:left;
justify-content: center;
}